/**********************************************************
* Name:        Ellen Yang
* Date:        7/9/2020
* Description: The style sheet used for the header, footer
*              and navigation menu for each page.
**********************************************************/
/*style for background*/
body{
    background: #F2F2CF;
}

/*color for h1*/
h1{
    color:#696969;
}

/*color for h2*/
h2{
    color:#696969;
    text-align: center;
}

/*color for h3*/
h3{
    color:#696969;
    text-align: center;
}

/*color for h3*/
h4{
    color:#696969;
    text-align: auto;
}

/* style for the page header */
header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* style used to create a horizontal menu as described in
 * https://www.w3schools.com/css/css_navbar.asp
 */

nav.sitenav ul{
    /* remove bullets */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCC00;
}

/* make the list horizontal */
nav.sitenav li{
    float: left;
    border-right: 1px solid white;
}

nav.sitenav li:last-child{
    border-right: none;
}

nav.sitenav li a {
 
    display: block;
    color: white;
    text-align: center;

    /* increase the size of each menu item tab */
    padding: 15px 20px;
    border: 1px solid white;
    text-decoration: none; 
}

/* change the colors when a tab is hovered over */
nav.sitenav li a:hover{
    background-color: #555;
    color:white;
}

/* Use the extra space in the horizontal menu to put
 * a page title on the right side.
 */
#title{
    float:right;
    color:white;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 30px;
}

.responsive{
    max-width: 100%;
    max-height: auto;
}
/*style footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color:white;
    text-align: center;
}

/*crete two columns*/
.column{
    float: left;
    padding: 10px;
}

.left{
    width: 25%;
}
.right{
    width: 75%;
}

/*clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}





