<div class="modal fade" id="shelvesEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Adjust Shelf Capacity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            Shelf Thresholds:
          <div class="form-group">
            <label for="modal_shelf_minimum_threshold" class="col-form-label">Minimum:</label>
            <input type="number" class="form-control" id="modal_shelf_minimum_threshold">
          </div>
          <div class="form-group">
            <label for="modal_shelf_maximum_threshold" class="col-form-label">Maximum:</label>
            <input type="number" class="form-control" id="modal_shelf_maximum_threshold">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/shelves_edit.js"></script>