{{!-- Content --}}
<div class="mt-4 container-fluid">
    <h1 class="display-4 text-center">The Apple Cart</h1>
    <h4 class="text-center">Version 1.0.2</h4>
    <h4 class="text-center">{{data}}</h4>
</div>

