

{{!-- Content --}}
<div class="mt-4 container-fluid">
    <h1 class="display-4 text-center">The Apple Cart</h1>
    <h4 class="text-center">Version 3.0.0</h4>
    <h4 class="text-center">{{data}}</h4>
    <h4 class="text-center">Total Items in Catalog:{{numItems}}</h4>
    <h4 class="text-center">Total Types of Products:{{numTypes}}</h4>

</div>



