{{!-- Content 
<div class="mt-4 container-fluid">
    <h1 class="display-4 text-center">The Apple Cart</h1>
    <h4 class="text-center">Version 1.0.2</h4>
    <h4 class="text-center">{{data}}</h4>
</div>--}}

{{!--<img src = "/images/color_apple_small.jpg" class="mx-auto d-block" class="img-fluid" alt="Responsive imag"> --}}

<link rel="stylesheet" href="../css/login.css">

<div class="bg-img">
  {{!-- User login Forms --}}
  <form action="/user_login" method="post" class="container">
    <h1>The Apple Cart</h1>

    <label for="user_name"><b>User Name:</b></label>
    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Enter Username" required>
  
    <label for="password"><b>Password</b></label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
  
    <button type="submit" class="btn btn-primary " id="login_submit">Login</button>
        
  </form>
</div>