<link rel="stylesheet" href="../css/dashboard.css">

{{!-- Content --}}
<div class="mt-4 container-fluid">
    <h1 class="display-4 text-center">Apple Cart</h1>
    <h4 class="text-center">Version 3.0.0</h4>
    <h4 class="text-center">{{data}}</h4>
    <h4 class="text-center">Total Items in Catalog:{{numItems}}</h4>
    <h4 class="text-center">Total Types of Products:{{numTypes}}</h4>
    <br>
    <h1 class="display-4 text-center">Contributors</h1>
    <h4 class="text-center">Kevin Joy</h4>
    <h4 class="text-center">George Kochera</h4>
    <h4 class="text-center">Blake Lester</h4>
    <h4 class="text-center">Quinn Wilkins</h4>
    <h4 class="text-center">Ellen Yang</h4>
    <br>
    <h1 class="display-4 text-center">Tech Stack</h1>
    <h4 class="text-center">HTML</h4>
    <h4 class="text-center">Bootstrap</h4>
    <h4 class="text-center">Node.js</h4>
    <h4 class="text-center">Express</h4>
    <h4 class="text-center">Sessions</h4>
    <h4 class="text-center">Handlebars</h4>
    <h4 class="text-center">My SQL</h4> 
    <br>
    <img src="/images/300px_wTitle.png" alt="The Apple Cart" width="500" height="500" class="img-center">

</div>



