<link rel="stylesheet" href="../css/login.css">

<div class="bg-img">
  {{!-- User login Forms --}}
  <form action="/login" method="post" class="container">
    <h1>Apple Cart</h1>

    <label for="username"><b>Username:</b></label><br>
    <label class="text-muted"> default username is "demo"</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="enter username" required>
  
    <label for="password"><b>Password:</b></label><br>
    <label class="text-muted"> default username is "demo"</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="enter password" required>
  
    <button type="submit" class="btn btn-primary " id="login_submit">Login</button>
    {{#if badLogin}}
    <span id="login-error">Bad username or password</span>
    {{/if}}
        
  </form>
</div>